* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}

:root{
	--fondo: #24272c;
	--carta: #383838;
	--puntos: #fce76d;
	--vida: #d08d60;
	--dourado: #daa520;
	--sair: #424242;
	--gris: #777777;
}

body{
	background-color: var(--fondo);

	& #inicio{
		width: 30%;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;

		& #titulo{
			height: 50%;
			display: flex;
			justify-content: center;
		}

		& #menu{
			height: 50vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 0;

			& ul{
				list-style: none;

				& li{
					text-align: center;
					color: #000;
					background-color: var(--dourado);
					border-radius: 5px;
					transition: 0.5s;
					cursor: pointer;
					padding: 10px;
					margin: 5px 0 5px 0;
				}

				& li:hover{
					background-color: var(--puntos);
				}
			}

			/* & #seleccionPersonaxe{
				display: flex;
				justify-content: center;
				align-items: center;

				& img{
					width: 45%;
				}
			} */

			/* & #xogar{
				display: flex;
				justify-content: center;
				align-items: center;

				& p{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 25%;
					height: 25%;

					& img{
						width: 95%;
						background-color: var(--boton);
						padding: 5px 15px;
						border: 2px solid white;
					}
				}
			}			 */
		}
	}
}